# Build results
[Bb]in/
[Oo]bj/
artifacts/
*.nupkg
*.snupkg

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.user
*.suo
*.userprefs

# NuGet
packages/
*.nuget.props
*.nuget.targets

# OS
.DS_Store
Thumbs.db
/nuget_instructions.md
